@for (survey of surveys(); track survey.id) {
  <app-card [title]="survey.question">
    @for (option of survey.options; track option.id) {
      <app-option
        [survey]="survey"
        [choice]="option"
        (voteChange)="handleVote($event)">
      </app-option>
    }
    @if (survey.closed) {
      <div card-footer>
        <div>
          Sondage clos le :
        </div>
        <div>{{survey.scheduledEnd | smartDates}}</div>
      </div>
    } @else {
      <div card-footer>
        <div>
          Répondre avant le :
        </div>
        <div>{{survey.scheduledEnd | smartDates}}</div>
      </div>
    }
  </app-card>
}

