<div class="min-h-screen bg-beigeTradition flex flex-col">

  <div class="flex flex-1 justify-center items-center">

    <div class="bg-gray-100 p-8 rounded-lg w-80">

      <h2 class="text-xl text-center mb-6">Connexion</h2>

      <div class="mb-4">
        <label>Nom d'utilisateur</label>
        <input type="text" placeholder="nom d'utilisateur" [(ngModel)]="username" class="w-full p-2 border">
      </div>

      <div class="mb-6">
        <label>Mot de passe</label>
        <input type="password" placeholder="mot de passe" [(ngModel)]="password" class="w-full p-2 border">
      </div>

      <button
        class="bg-festive text-white w-full py-2"
        (click)="login()">
        Se connecter
      </button>

    </div>

  </div>

</div>